@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200;1,300&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #d434fe;
	--horizontal-line-color: rgba(255, 255, 255, 0.18);
	--input-color: rgba(255, 255, 255, 0.03);
	--secondary-color: #ff26b9;
}
.hrc {
	border: 1px solid rgba(255, 255, 255, 0.18);
}
::-webkit-scrollbar {
	width: 8px; 
  }
  
  ::-webkit-scrollbar-track {
	background-color: #150E28;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #903AFF;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #903AFF; 
  }

.active {
	background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.questions {
	border-radius: 0.75rem;
	background: rgba(255, 255, 255, 0.03);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	scroll-behavior: smooth;
	background-color: #150e28;
	font-size: 14px;
	color: white;
}
.mobileLine {
	width: 1px;
	background-color: #d434fe;
	height: 7rem;
	border: 2px ridge #d434fe;
	border-radius: 2px;
}
.customSelectOption {
	background-color: #150e28;
	color: white;
}

.modal_background {
	background: rgba(21, 14, 40, 0.93);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}
.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.modal {
	color: white;
	z-index: 10;
	border-radius: 0.3125rem;
	border: 1px solid #d434fe;
	background: rgba(255, 255, 255, 0.01);
}

.timeline_container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 5rem;
}

.customBorder {
	border-bottom: 1px solid red;
}
.border-test {
	border: 1px solid red;
}

.actionBtn {
	border-radius: 0.25rem;
	background: linear-gradient(
		270deg,
		#903aff 0%,
		#d434fe 56.42%,
		#ff26b9 99.99%,
		#fe34b9 100%
	);
	border: none;
	width: 10.75rem;
	height: 3.3rem;
	padding: 0.5rem;
}
.mobile-menu {
	transform: translateX(-100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

.mobile-menu.showNav {
	transform: translateX(0);
	height: 100%;
	background-color: #150e28;
	width: 100%;
	padding: 1rem 2rem;
}
.container {
	max-width: 80rem;
	border: none;
	outline: none;
}

@media (min-width: 640px) {
	html {
		font-size: 14.5px;
	}
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}
